* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(90, 135, 250, 0.35);
  padding: 10px;
}

#searchDiv input {
  border-radius: 5px;
  padding: 2px 5px;
}

#searchBtn {
  margin-right: 10px;
  padding: 0px 5px;
}

#fahrenheit {
  margin-right: 10px;
}

#forcast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
}

#current {
  margin: 20px 0px;
}

#current h3 {
  font-size: larger;
}

#iconBlock {
  display: flex;
  align-items: center;
  font-size: x-large;
  margin: 20px;
}

#currentTemp {
  margin-right: 10px;
  font-size: x-large;
}

#iconBlock img {
  height: 80px;
  width: 80px;
}

#description {
  font-size: large;
}

#hourly {
  display: flex;
  margin: 10px 0px;
  height: 70px;
  width: 650px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 5px 0px;
}

.card {
  width: 30px;
  margin: 0px 20px;
  text-align: center;
}

.card img {
  height: 20px;
  width: 20px;
}

table {
  width: 650px;
  padding: 20px 0px;
}

table img {
  height: 20px;
  width: 20px;
}

td {
  text-align: center;
}

.blue-back {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(135, 206, 250, 0.5);
}
